<turbo-frame id="profile_content">
    <div class="row">
        <div class="col-6">
            <h3 class="text-center mb-4">Aperçu rapide</h3>
            <div class="col-12 mb-3">
                <div class="card border-color-green">
                    <div class="card-body text-color-green d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            {{ ux_icon('tabler:book-2', { style: 'width: 2rem; height: 2rem;' } ) }}
                            <span class="ms-2">Nombre de livre :</span>
                        </div>
                        <span class="badge border bg-transparent border-color-green text-color-green">{{ totalBooks }}</span>
                    </div>
                </div>
            </div>
            
            <div class="col-12 mb-3">
                <div class="card border-color-yellow">
                    <div class="card-body text-color-yellow d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            {{ ux_icon('tabler:book', { style: 'width: 2rem; height: 2rem;' } ) }}
                            <span class="ms-2">Nombre de page lu</span>
                        </div>
                        <span class="badge border bg-transparent border-color-yellow  text-color-yellow">{{ totalPagesRead }}</span>
                    </div>
                </div>
            </div>
        
        </div>
        
        <div class="col-6">
            <h3 class="text-center mb-4">Statuts</h3>
            <div class="col-12 mb-3">
                <div class="card border-color-green">
                    <div class="card-body text-color-green d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            {{ ux_icon('tabler:book-2', { style: 'width: 2rem; height: 2rem;' } ) }}
                            <span class="ms-2">Livres lus</span>
                        </div>
                        <span class="badge border bg-transparent border-color-green text-color-green">{{ bookStats['Lu'] }}</span>
                    </div>
                </div>
            </div>
            
            <div class="col-12 mb-3">
                <div class="card border-color-yellow">
                    <div class="card-body text-color-yellow d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            {{ ux_icon('tabler:book', { style: 'width: 2rem; height: 2rem;' } ) }}
                            <span class="ms-2">En cours de lecture</span>
                        </div>
                        <span class="badge border bg-transparent border-color-yellow  text-color-yellow">{{ bookStats['En cours de lecture'] }}</span>
                    </div>
                </div>
            </div>
            
            <div class="col-12 mb-3">
                <div class="card border-color-red">
                    <div class="card-body text-color-red d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            {{ ux_icon('tabler:books', { style: 'width: 2rem; height: 2rem;' } ) }}
                            <span class="ms-2">Non lus</span>
                        </div>
                        <span class="badge border bg-transparent border-color-red  text-color-red">{{ bookStats['Non lu'] }}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <h3>Vos lectures du moment</h3>
        {% for book in readingList %}
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ book.thumbnail }}" class="img-fluid rounded-start" alt="{{ book.title }}">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-text">{{ book.title }}</h5>
                                <p class="card-text">{{ book.authors }}</p>
                                <p class="card-text text-center"><small class="text-color-gray">{{ ((book.pagesRead * 100) / book.pageCount) | round(0) }} % {{ book.pagesRead }} / {{ book.pageCount }}</small></p>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar" role="progressbar" style="width:  {{ ((book.pagesRead * 100) / book.pageCount) | round(0) }}%;" aria-valuenow="{{ book.pagesRead }}" aria-valuemin="0" aria-valuemax="{{ book.pageCount }}"></div>
                                </div>

                                <div class="text-center mt-2">
                                    <a href="{{ path('profile_book_edit', {'id': book.id}) }}" class="btn btn-outline-custom-yellow" data-turbo="false">Modifier</a> 
                                </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %} 
    </div>
</turbo-frame>