{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
<main>
    <section class="d-flex align-items-stretch">
        {% include "partials/navbar.html.twig" %}
        <div class="container">
            <div class="row">
                <h1>Edit Book</h1>
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.authors) }}
                        <!-- Add other form fields here -->
                        <button type="submit">Save Changes</button>
                        <a href="{{ path('mybooks_book_details', {'id': book.id}) }}">Cancel</a>
                    {{ form_end(form) }}
            
            
            </div>
        </div>
    </section>
</main>

{% endblock %}