<div class="row">
    <hr class="my-4 border-custom-white">

    <div class="col-12">
        <h2 class="text-center">Ma review</h2>

        {% if userBook.review %}
            <div class="card mb-3 text-white">
                <div class="card-header">
                    <h5 class="card-title "><strong>{{ userBook.user.name }}</strong></h5>
                    <p class="card-text"> Statut : {{ userBook.status.label() }}</p>
                    {% if userBook.userRating %}
                        <div class="text-color-yellow fs-4">
                            {% for i in range(1, 5) %}
                                {% if i <= userBook.userRating %}
                                    {{ ux_icon('tabler:star-filled', { style: 'width: 1.2rem; height: 1.2rem;' }) }}
                                {% else %}
                                    {{ ux_icon('tabler:star', { style: 'width: 1.2rem; height: 1.2rem;' }) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Vous n'avez pas encore noté ce livre.</p>
                    {% endif %}
                </div>
                <div class="card-body">
                    
                    <p class="card-text">{{ userBook.review.content }}</p>
                    
                </div>
                <div class="card-footer">
                    <p class="card-text"><small>Posté le {{ userBook.review.createdAt|date('d F Y') }}</small></p>
                    {% if userBook.review.updatedAt is not null %}
                        <p class="card-text"><small>Mis à jour le {{ userBook.review.updatedAt|date('d F Y') }}</small></p>
                    {% endif %}
                </div>
            </div>

            <form method="post" action="{{ path('delete_review', { 'id': userBook.review.id }) }}" 
                onsubmit="return confirm('Voulez-vous vraiment supprimer votre review sur ce livre ?');"
                class="d-inline">
                <input type="hidden" name="_token" value="{{ csrf_token('delete-review-' ~ userBook.review.id) }}">
                <button type="submit" class="btn btn-outline-custom-red">Supprimer</button>
            </form>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-custom-yellow" data-bs-toggle="modal" data-bs-target="#editReviewModal">
                Editer
            </button>

            <!-- Modal -->
            <div class="modal fade" id="editReviewModal" tabindex="-1" aria-labelledby="editReviewModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form method="post" action="{{ path('review_edit', {id: userBook.review.id}) }}">
                             <input type="hidden" name="_token" value="{{ csrf_token('edit_review_' ~ userBook.review.id) }}">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="editReviewModalLabel{{ userBook.review.id }}">Modifier votre avis</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                            </div>
                            <div class="modal-body">
                                <textarea name="content" class="form-control" rows="5">{{ userBook.review.content }}</textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        {% else %}
            <p class="text-center">Vous n'avez pas encore laissé de review pour ce livre.</p>
            {# TODO : Faire un modal pour la review #}
        {% endif %}
        
    </div>

</div>

<div class="row">
    <hr class="my-4 border-custom-white">

    <div class="col-12">
        {{ component('review_list', { reviews: reviews }) }}
    </div>
    <div class="my-5">
        <h3>Review</h3>
        {# Revoir l'id mis dans le form + le controller #}
        {{ form_start(reviewForm, { 'action': path('review_create', { id: userBook.id }) }) }}
            {{ form_row(reviewForm.content) }}
            {{ form_row(reviewForm.submit) }}
        {{ form_end(reviewForm) }}
    </div>

</div>