
<turbo-frame id="profile_content">
    <div class="row text-center my-4">
        <h1>Mes Livres</h1>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col-auto">
            {{ form_start(form, {'action': path('profile_books'), 'attr': {'data-turbo-frame': 'profile_content', 'data-turbo-action': 'replace', 'class': 'row row-cols-lg-auto g-3 align-items-center'}}) }}
                {{ form_row(form.query) }}
                {{ form_row(form.submit) }}
            {{ form_end(form) }}        
        </div>

    </div>
    <div class="row">
        <div class="scrollable-table" style="max-height: 60vh; overflow-y: auto;">
            <table class="table table-hover">
                <thead class="sticky-top">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Titre</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Note</th>
                        <th scope="col">Note Globale</th>
                        <th scope="col">Status</th>
                        <th scope="col">Modifier</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr id="book_{{ book.id }}">
                            <td>
                                {% if book.book.thumbnail is defined %}
                                    <img src="{{ book.book.thumbnail }}" alt="">
                                {% else %}
                                    <img src="{{ book.book.thumbnail }}" alt="Image non disponible">
                                {% endif %}
                                
                            </td>
                            <td>
                                <p>{{ book.book.title }}</p>
                            </td>
                            <td>
                                <p>{{ book.book.authors }}</p>
                            </td>
                            <td>
                                {% if book.userRating %}
                                    <div class="text-color-yellow">
                                        {% for i in range(1, 5) %}
                                            {% if i <= book.userRating %}
                                                {{ ux_icon('tabler:star-filled', { style: 'width: 1.2rem; height: 1.2rem;' }) }}
                                            {% else %}
                                                {{ ux_icon('tabler:star', { style: 'width: 1.2rem; height: 1.2rem;' }) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="text-muted">Aucune note</p>
                                {% endif %}

                            </td>
                            <td>
                                {% if book.book.globalRating %}
                                    <div class="text-color-yellow">
                                        {% for i in range(1, 5) %}
                                            {% if i <= book.book.globalRating.rating %}
                                                {{ ux_icon('tabler:star-filled', { style: 'width: 1.2rem; height: 1.2rem;' }) }}
                                            {% elseif i - 0.5 <= book.book.globalRating.rating %}
                                                {{ ux_icon('tabler:star-half-filled', { style: 'width: 1.2rem; height: 1.2rem;' }) }}
                                            {% else %}
                                                {{ ux_icon('tabler:star', { style: 'width: 1.2rem; height: 1.2rem;' }) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <p class="text-color-white text-center">{{ book.book.globalRating.rating }} /5 ({{ book.book.globalRating.count }} avis)</p>
                                {% else %}
                                    <p class="text-muted">Aucune note</p>
                                {% endif %}
                            </td>
                            <td>
                                <p>{{ book.status.label() }}</p>
                            </td>
                            <td>
                                <a href="{{ path("profile_book_details", { "id": book.id }) }}" class="btn btn-outline-custom" data-turbo-frame="profile_content">Voir</a>
                                {# <a href="{{ path("profile_book_edit", { "id": book.id }) }}" class="btn btn-outline-custom" data-turbo-frame="profile_content">Modifier</a> #}
                                <form method="post" action="{{ path('book_delete', { 'id': book.id }) }}" 
                                data-turbo-frame="profile_content"
                                onsubmit="return confirm('Voulez-vous vraiment supprimer ce livre ?');"
                                class="d-inline">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete-book-' ~ book.id) }}">
                                    <button type="submit" class="btn btn-outline-custom-red">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</turbo-frame>