{% extends 'base.html.twig' %}

{% block title %}Book Detail{% endblock %}

{% block body %}

    <turbo-frame id="profile_content">

        <div class="row">
            <div class="col-8 mx-auto">
                <div class="card">
                    <div class="row g-0 align-items-stretch">
                        <div class="col-md-5">
                            <div class="h-100">
                                <img src="{{ book.book.thumbnail }}" class="img-fluid h-100 w-100 rounded-start object-fit-cover" alt="...">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="card-title text-center">{{ book.book.title }}</h3>
                                <p class="card-text">{{ book.book.description }}</p>
                                <p class="card-text"><small>{{ book.book.publishedDate | date('d/m/Y') }}</small></p>
                                <div class="text-center">
                                    <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-outline-custom-yellow" data-turbo="false">Modifier</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </turbo-frame>

{% endblock %}