{% extends 'base.html.twig' %}

{% block title %}MyBooks{% endblock %}

{% block body %}

<turbo-frame id="profile_content">
    <div class="row text-center my-4">
        <h1>Mes Livres</h1>
    </div>
    <div class="row">

        {#  TO DO : MAKE A SEARCHBAR | Twig componnent ? #}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Titre</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Status</th>
                    <th scope="col">Modifier</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr id="book_{{ book.id }}">
                        <td>
                             {% if book.thumbnail is defined %}
                                <img src="{{ book.thumbnail }}" alt="">
                            {% else %}
                                <img src="{{ book.thumbnail }}" alt="Image non disponible">
                            {% endif %}
                            
                        </td>
                        <td>
                            <p>{{ book.title }}</p>
                        </td>
                        <td>
                            <p>{{ book.authors }}</p>
                        </td>
                        <td>
                            <p>{{ book.status }}</p>
                        </td>
                        <td>
                            <a href="{{ path("profile_book_details", { "id": book.id }) }}" class="btn btn-outline-custom" data-turbo-frame="profile_content">Voir</a>
                            {# <a href="{{ path("profile_book_edit", { "id": book.id }) }}" class="btn btn-outline-custom" data-turbo-frame="profile_content">Modifier</a> #}
                            <form method="post" action="{{ path('profile_book_delete', { 'id': book.id }) }}" 
                            data-turbo-frame="profile_content"
                            onsubmit="return confirm('Voulez-vous vraiment supprimer ce livre ?');"
                            class="d-inline">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete-book-' ~ book.id) }}">
                                <button type="submit" class="btn btn-outline-custom-red">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</turbo-frame>

{% endblock %}
