<aside>
    <nav class="nav flex-column sidebar">
    {% if app.user %}
    
        <a class="nav-link text-white" href="{{ path("profile_index")}}">Profil</a>

        <a class="nav-link text-white" href="{{ path("search_book")}}">Recherche un livre</a>

        <a class="nav-link text-white" href="{{ path("app_logout")}}">Déconnexion</a>

    {% else %}

        <a class="nav-link text-white" href="{{ path("app_login")}}">Me connecter</a>

        <a class="nav-link text-white" href="{{ path("app_register")}}">M'inscrire</a>

    {% endif %}
</nav>

</aside>